name: Cypress Tests

on:
  push:
    branches: [main, master]
  pull_request:

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install dependencies
        working-directory: apps/frontend
        run: npm ci

      - name: Build FE
        working-directory: apps/frontend
        run: npm run build

      - name: Start FE server
        working-directory: apps/frontend
        run: npm start &

      - name: Wait for server
        run: npx wait-on http://localhost:3000

      - name: Run Cypress tests
        working-directory: apps/frontend
        run: npx cypress run --record --key ${{ secrets.CYPRESS_RECORD_KEY }}
